.footer {
    top: 68rem;
    padding-bottom: 1rem;
}

.footerGradient {
    background: linear-gradient(180deg, #040e19, rgb(85 78 126 / 12%) 50%, #040e19 100%);
    position: absolute;
    height: 13rem;
    left: 0;
    right: 0;
    bottom: -10rem;
}

.footerLogo > span,
.footerLogo > span > span {
    font-family: "Rubik Mono One", monospace;
}

@media screen and (max-width: 800px) {
    .footer {
        top: 46rem !important;
    }

    .footer > div{
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}