.pricing {
    height: 50rem;
    margin-right: 5rem;
    margin-left: 5rem;
    top: 24rem;
    background: linear-gradient(to top, transparent 0%, #0c172b 100%);
}

.pricingTitle {
    font-size: 2.45rem;
}

.pricingTitle > h2 {
    font-weight: 800;
    letter-spacing: 1.5px;
}

.pricingToggle {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pricingToggle button {
    z-index: 2;
    background-color: rgba(86, 94, 102, 0.5);
}

.pricingToggle .active {
    background-color: #111d31;
}

.pricingToggle button:hover {
    background-color: #111d31;
}

.pricingList {
    margin-top: 3rem;
}

/* .pricing > div:nth-of-type(1),
.pricing > div:nth-of-type(2),
.pricing > div:nth-of-type(4) {
    animation-name: blended-animation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.1,0,.9,1);
    border-radius: 100%;
    position: absolute;
    z-index: -2;
}

.pricing > div:nth-of-type(6) {
    animation-name: blended-animation-2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.1,0,.9,1);
    border-radius: 100%;
    position: absolute;
    z-index: -2;
}

@keyframes blended-animation {
    0% {
        transform: translate(20%,-40%) rotate(-20deg)
    }
    20% {
        transform: translate(0) skew(-15deg,-15deg) rotate(80deg)
    }
    40% {
        transform: translate(-40%,50%) rotate(180deg)
    }
    60% {
        transform: translate(-20%,-20%) skew(15deg,15deg) rotate(80deg)
    }
    80% {
        transform: translate(10%,-30%) rotate(180deg)
    }
    to {
        transform: translate(20%,-40%) rotate(340deg)
    }
}

@keyframes blended-animation-2 {
    0% {
        transform: translate(20%, -40%) rotate(-20deg);
    }
    25% {
        transform: translate(0, 0) skew(-10deg, -10deg) rotate(60deg);
    }
    50% {
        transform: translate(-30%, 40%) rotate(150deg);
    }
    75% {
        transform: translate(-10%, -15%) skew(10deg, 10deg) rotate(90deg);
    }
    100% {
        transform: translate(15%, -35%) rotate(360deg);
    }
} */


  