.myTraining > footer {
    top: 20rem;
}

.helpListItem {
    padding: 0.875rem 1.3rem;
    border-radius: .5rem;
    background: rgb(55 64 76);
}

.helpListItem > div > h5 {
    font-size: 13px
}

.helpListItem > div > span {
    font-size: 13px
}

.myTrainingBanner {
    background: linear-gradient(transparent 0%, rgb(27, 36, 46) 50%, transparent 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 401px;
}
